
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Bookclub</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/wishlist}">Wishlist</a></li>
            </ul>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                Logged in as: <span th:text="${#authentication.name}"></span>
                <a class="btn btn-sm btn-outline-danger" th:href="@{/logout}">Logout</a>
                <a class="btn btn-sm btn-outline-info ms-2" href="/swagger-ui.html" target="_blank">API Docs</a>
            </div>

        </div>
    </nav>
</div>

